*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
   background-color: white;
    width: 100%;
    height: 600px;
}

.logo{
    height: 100px;
     width: 500px; 
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.paragraph{
    text-align: justify;
    margin-left: 75px;
    margin-right: 75px;
    font-family: Verdana;
    font-size: 13px;
}

/* input[type=text], textarea {
   
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 850px;
  }

  label {
    display: inline-block;
  }

  .container {
    border-radius: 5px;
   
    padding: 20px;
  }
  
  select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
      width: 300px;
  }
  input[type=number]{
      width: 540px;
      padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 10px;
  }
  input[type=file]{
    background-color: rgb(82, 136, 172);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
  }
  .button{
      margin-top: 500px;
      margin-left: 700px;
      
  }
.start{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:  rgb(82, 136, 172);
    width: 80px;
} */

.container{
  margin-left: 75px;
    margin-right: 75px;
}