*
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: gray;
    width: 100%;
}

header{
    background: radial-gradient(circle, white, rgb(196, 157, 121));
}

.main-nav_section_1
{
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 50px;
    padding-right: 30px; 
    height: 80px;  
}

.links{
    display: inline;
    padding-left: 50px;
}

.main-nav_section_1 li
{
    margin-top: 10px; 
}

.main-nav_section_1 li a
{
    color: grey;
    text-decoration: none;
    padding: 10px 10px;    
}

.main-nav_section_1ain-nav li.active a
{
    text-underline-position: below;
}

.main-nav_section_1 li a:hover
{
    color: #cf925f;
    font-weight: bold;
    transition: 0.4px;
}

.container{
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    height: 2500px;
}
.section_2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding-top: 20px;
    margin-left: 25px;
}
.section_3{
    margin-left: 25px;
    margin-top: 20px;
    position: relative;
}
.section_5{
    background-color: white;
    margin-left: 25px;
    /* margin-top: 20px; */
    position: relative;
}

.box1{
    top: 100px;
    margin-left: 450px;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    opacity: 0.75;    
}
.box2{
    top: 200px;
    margin-left: 800px;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    opacity: 0.75;   
    align-items: center; 
}
.section_4{
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
}

.section_5{
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.column{
    float: left;
    width: 25%;
    text-align: left; 
    
    
}
.pricetag{
    height:25px;
    width: 40px;
    background:#99753a;
    border: 0 solid #99753a;
    color: white;
    padding: 5px 25px 5px 15px;
    position:relative;
    margin:0 10px 0 20px;
    top: 10px;
}

.pricetag:before{
    position:absolute;
    content:"\25CF";
    color:white;
    text-shadow: 0 0 1px #333;
    font-size:11px;
    line-height:0px;
    text-indent:12px;
    left:-15px;
    top: 0px;
    width: 1px;
    height:0px;
    border-right:14px solid #99753a;
    border-top:  13px solid transparent;
    border-bottom:  13px solid transparent;
}  
