*
body{
    margin: 0;
    padding: 0;
    border: 0;
}
/* header*/
.main-nav_section_1
{
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 50px;
    padding-right: 30px; 
    height: 80px;  
}

.links{
    display: inline;
    padding-left: 50px;
}

.main-nav_section_1 li
{
    margin-top: 10px; 
}

.main-nav_section_1 li a
{
    color: grey;
    text-decoration: none;
    padding: 10px 10px;    
}

.main-nav_section_1ain-nav li.active a
{
    text-underline-position: below;
}

.main-nav_section_1 li a:hover
{
    color: #cf925f;
    font-weight: bold;
    transition: 0.4px;
}

.body{
    background-color: gray;
    width: 100%;
}
.container{
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}
.section_2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding-top: 20px;
    margin-left: 25px;
}
.section_3{
    margin-left: 25px;
    margin-top: 20px;
    position: relative;
}
.box1{
    top: 100px;
    margin-left: 450px;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    opacity: 0.75;    
}
.box2{
    top: 200px;
    margin-left: 800px;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    opacity: 0.75;   
    align-items: center; 
}
.section_4{
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
}

.section_5{
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.column{
    float: left;
    width: 25%;
    text-align: left; 
    
}
