*
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: gray;
    width: 100%;
}

header{
    background: radial-gradient(circle, white, rgb(196, 157, 121));
}

.main-nav_section_1
{
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 50px;
    padding-right: 30px; 
    height: 80px;  
}

.links{
    display: inline;
    padding-left: 50px;
}

.main-nav_section_1 li
{
    margin-top: 10px; 
}

.main-nav_section_1 li a
{
    color: grey;
    text-decoration: none;
    padding: 10px 10px;    
}

.main-nav_section_1 li a:hover
{
    color: #cf925f;
    font-weight: bold;
    transition: 0.4px;
}


.container{
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    height: 750px;
    margin-top: 0px;
    display: flex;
}
.image p{
    margin-right: 50px;
}
/* .price{   
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        margin-left: 45px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;   
        box-sizing: border-box;
        padding: 7px;
        width: 280px;
        border-style: double;   
        border-radius: 5px;       
        padding-right: 20px;
        border-color: grey;
       
}
.price input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 7px;
    left: 14px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  .price:hover input ~ .checkmark {
    background-color: #ccc;
  }  
  .price input:checked ~ .checkmark {
    background-color: #2196F3;
  }
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    
  }
  
  .price input:checked ~ .checkmark:after {
    display: block;
    
  }  
  .price .checkmark:after {
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
  } */
  .box{
      box-sizing: border-box;
      margin-left: 45px;
      background-color: maroon;
      color: white;
      padding: 10px;
      margin-top: 20px;
      width: 250px;
  }
  .last_section{
      margin-left: 45px;
  }
  
  input[type=submit] {
    background-color: maroon;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 450px;
    margin-bottom: 20px;
  }
  form p{
      color: gray;
      font-size: 13px;
      margin-top: 5px;
  }
 .radio_btn{
     margin-left: 45;
    box-sizing: border-box;
    border-style: double;
    width: 200px;
    
 }

  input[type=radio]{
     margin-left:45px ;
 } 